@using ETicaretOtomasyonv2.Models.Siniflar

@model List<Departman>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>#</th>
            <th>Departman Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmanID</td>
                <td>@item.DepartmanAdı</td>
                <td><a href="/Departman/DepartmanGetir/@item.DepartmanID" class="btn btn-success">Düzenle</a>     <a href="/Departman/DepartmanDelete/@item.DepartmanID" class="btn btn-danger">Sil</a> <a href="/Departman/DepartmanDetay/@item.DepartmanID" class="btn btn-success" style="background-color:darkred">Detaylar</a></td>

            </tr>

        }
    </tbody>

</table>
<a href="/Departman/DepartmanEkle" class="btn btn-success" style="margin-top:20px">Yeni Departman Ekle</a>
