
@{
    Layout = null;
}

<html>
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white; /* changed from black */
        }

        * {
            box-sizing: border-box;
        }

        .container {
            padding: 16px;
            background-color: white;
            width: 50%; /* changed from 100% */
            margin: auto; /* added this property */
        }

        input[type=text], input[type=password], input[type=email] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
                background-color: #ddd;
                outline: none;
            }

        .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .btn:hover {
                opacity: 1;
            }

        hr {
            border: 1px solid black; /* changed from none */
        }
    </style>
</head>
<body>

    <form  method="post">
        <!-- changed the action and method properties -->
        <div class="container">
            <h1>Kayıt Ol</h1>

            <hr>

            <label for="email"><b>Ad</b></label>
            <input type="text" placeholder="Ad Giriniz" name="CariAd"  required> <!-- changed the type to email -->

            <label for="email"><b>Soy Ad</b></label>
            <input type="text" placeholder="Soyad Giriniz" name="CariSoyad"  required> <!-- changed the type to email -->


            <label for="email"><b>Şehir</b></label>
            <input type="text" placeholder="Şehir Giriniz" name="CariUlke" required> <!-- changed the type to email -->

            <label for="email"><b>E Posta</b></label>
            <input type="text" placeholder="E Posta Giriniz" name="CariMail" id="email" required> <!-- changed the type to email -->

            <label for="username"><b>Kullanıcı Adı </b></label>
            <input type="text" placeholder="Kullanıcı Adı Giriniz." name="Kullaniciadi" id="username" required> <!-- added this input -->

            <label for="psw"><b>Şifre</b></label>
            <input type="password" placeholder="Şifre Giriniz" name="password" id="psw" required>

            <label for="psw-repeat"><b>Şifre Tekrar</b></label> <!-- added this label -->
            <input type="password" placeholder="Tekrar Şifre Giriniz" name="passwordconfirim" id="psw-repeat" required> <!-- added this input -->

            <button type="submit" class="btn">Register</button>
        </div>
    </form>

</body>
</html>
