@using ETicaretOtomasyonv2.Models.Siniflar

@model List<Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KategoriID</td>
                <td>@item.KategoriAd</td>
                <td><a href="/Kategori/KategoriGetir/@item.KategoriID" class="btn btn-success">Düzenle</a>     <a href="/Kategori/KategoriDelete/@item.KategoriID" class="btn btn-danger">Sil</a></td>

            </tr>

        }
    </tbody>

</table>
<a href="/Kategori/KategoriAdd" class="btn btn-outline-success" style="margin-top:20px">Yeni Kategori Ekle</a>
