
@model ETicaretOtomasyonv2.Models.Siniflar.Kategori



@{
    ViewBag.Title = "KategoriAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Kategori Ekleme</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Kategori Adı : </label>

                    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "from-control" })
                </div>
  
                <button type="submit" class="btn btn-outline-primary">Kaydet</button>
                
            </form>
        </div>

    </div>
</div>

